.nav-link{
    display: inline-block;
    padding: 20px;
    font-family: 'Playfair Display', serif;
    transition: text-decoration 1s;
    cursor: pointer;
}
.nav-link::after {
    content: '';
    width: 0;
    height: 1px;
    display: block;
    background: #ff1a1a;
    transition: 300ms;
}
.nav-link:hover::after {
    width: 100%;
}
a:visited, a:link{
    text-decoration: none;
    color: inherit;
}
.nav-logo{
    position: absolute;
    display: inline-block;
    padding: 20px;
    left: 0;
    font-family: 'Pattaya', sans-serif;
    font-size: 1.2rem;
}
.nav-link-mobile-hidden{
    display: none;
}
.nav-link-mobile{
    padding: 20px;
    background-color: #333333;
}
.nav-logo-mobile{
    padding: 20px;
    text-align: left;
}
.navRedirected{

    box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
    color: #ececec;
    font-size: 1rem;
    box-sizing: border-box;
    animation: transitionRedirected 0.7s forwards;
}
@keyframes transitionRedirected {
    from{
        background-color: inherit;
    }
    to{
        background-color: #222222;
    }
}