@media (max-width: 500px) {

  @mixin flex($align-items: center, $justify-content: center){
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
  }
  $text-color: #000000;
  $background-color: #efefef;


  body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    background-color: $background-color;
    color: $text-color;
    font-family: 'Roboto', sans-serif;
  }
  .logo{
    display: none;
  }
  .landing-page{

    text-align: center;

    h1{
      font-family: 'Cutive Mono', monospace;
      font-size: 3rem;
      margin: 20px;
    }

    p{
      font-family: 'Cutive Mono', monospace;
      font-size: 1rem;
      margin: 20px;
    }

    button{
      background: none;
      color: #000000;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      width: 200px;
      margin: 10px;
    }
  }
}